# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables & virtual environments
.env
venv/
*.env

# Ignore log files
*.log

# Ignore IDE and OS-specific files
.vscode/
.idea/
.DS_Store

# Ignore dependency caches
pip-log.txt
pip-delete-this-directory.txt

# Ignore compiled Python files
*.egg-info/
